<div id="<%= dom_id record %>">
<dl>
  <dt>Name: </dt><dd><%= record.name %> &mdash; <%= record.full_name %></dd>
  <dt>Gandi Name: </dt><dd><%= record.gandi_name %> &mdash; <%= record.full_gandi_name %></dd>
  <dt>Address: </dt><dd><%= record.ip %></dd>
  <dt>Updated: </dt><dd><%= record.updated_at %></dd>
  <dt>Created: </dt><dd><%= record.created_at %></dd>
</dl>
</div>
